.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption {
    padding: 9px;
}

.well .row {
     padding: 9px;
}

.deleteForm {
    display: inline;
}




.card {
    padding: 0;
}

.card .card-img-top {
    width: 100%;
}

.card .card-body .card-title {
    padding: 9px;
}