.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
    height: 20vw;
}

.thumbnail .caption {
    padding: 9px;
}

.well .row {
     padding: 9px;
}

.deleteForm {
    display: inline;
}